body {
  background-image: url("//images5.alphacoders.com/721/721135.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
  position: relative; 
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); 
  z-index: -1; 
}
